<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeBakery</title>
    <link rel="stylesheet" type="text/css" href="/padaria/css/style.css"> 
</head>
<body>
    <!--Cabeçalho e Menus-->
    <header class="header-gourmet">
    <div class="top-bar">
            <div class="brand">
        <h1>Code<span>Bakery</span></h1>
        <p>O pão perfeito para seu código!</p>
            </div>

            <nav>
                <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="produtos.html">Produtos</a></li>
        <li><a href="localização.html">Localização</a></li>
        <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
    </div>

    </header>
    <footer>&copy; 2026 Dillersalda's Project - Todos os direitos Reservados</footer>
</body>
</html>