<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeBakery</title>
    <link rel="stylesheet" type="text/css" href="/padaria/css/style.css"> 
</head>
<body>
   
    <!--Cabeçalho e Menus-->
    <header class="header-gourmet">
    <div class="top-bar">
            <div class="brand">
        <h1>Code<span>Bakery</span></h1>
        <p>O pão perfeito para seu código!</p>
            </div>

            <nav>
                <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="produtos.html">Produtos</a></li>
        <li><a href="localização.html">Localização</a></li>
        <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
    </div>

    </header>
<!-- Area de Delivery e Registro-->

    <section class="area-delivery">
        <img src="/padaria/assets/images/Delivery.png" class="imagem-delivery" alt="Delivery Codebakery">
    <h3>Faça seus pedidos pelo Delivery</h3>
            <div class="delivery-login">
            <input type="text" placeholder="Usuário">
            <input type="password" placeholder="Senha">
            <button>Cadastre-se!</button>
            <button>Entrar</button>
        </div>
    </section>
        
    <!--Cards dos produtos e Promoções do dia-->
    <h2 class="titulo-prom">Promoções do dia!</h2>
<section class="promocoes">
    <div class="card">
        <div class="texto-formatado">
            <h4 class="nome-produto">Pythonccino</h4>
            <p class="descricao-produto">O Café perfeito para seu Back-end!</p>
        </div>
        <img src="/padaria/assets/images/Python.png" class="imagem-produtos">
        <p class="valor">Apenas <br> R$12,00!</p>
    </div>

    <div class="card">
        <div class="texto-formatado">
            <h4 class="nome-produto">Cakescript</h4>
            <p class="descricao-produto">O bolo mais detalhado de seu código</p>
        </div>
        <img src="/padaria/assets/images/Cakescript.png" class="imagem-produtos">
        <p class="valor">Apenas <br> R$:15,00 a Unidade!</p>
    </div>

    <div class="card">
        <div class="texto-formatado">
            <h4 class="nome-produto">Typeshake</h4>
            <p class="descricao-produto">O Shake mais completo do seu código</p>
        </div>
        <img src="/padaria/assets/images/Typeshake.png" class="imagem-produtos">
        <p class="valor">Apenas <br> R$12,00 500ml</p>
    </div>
</section>
    <footer>&copy; 2026 Dillersalda's Project - Todos os direitos Reservados</footer>
</body>
</html>